html,
body,
canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

#editor-ui {
  position: absolute;
  left: 10px;
  top: 10px;

  /* Tweakpane theme */
  --tp-base-background-color: hsla(0, 0%, 0%, 0.4);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: hsl(177.47, 37.25%, 50%);
  --tp-button-background-color-active: hsl(177.47, 37.25%, 60%);
  --tp-button-background-color-focus: hsl(177.47, 37.25%, 60%);
  --tp-button-background-color-hover: hsl(177.47, 37.25%, 40%);
  --tp-button-foreground-color: hsla(0, 0%, 100%, 1);
  --tp-container-background-color: hsla(0, 0%, 10%, 0.5);
  --tp-container-background-color-active: hsla(0, 0%, 25%, 0.5);
  --tp-container-background-color-focus: hsla(0, 0%, 20%, 0.5);
  --tp-container-background-color-hover: hsla(0, 0%, 15%, 0.5);
  --tp-container-foreground-color: hsla(0, 0%, 100%, 1);
  --tp-groove-foreground-color: hsla(0, 0%, 10%, 1);
  --tp-input-background-color: hsla(0, 0%, 90%, 1);
  --tp-input-background-color-active: hsla(0, 0%, 85%, 1);
  --tp-input-background-color-focus: hsla(0, 0%, 80%, 1);
  --tp-input-background-color-hover: hsla(0, 0%, 75%, 1);
  --tp-input-foreground-color: hsla(0, 0%, 0%, 1);
  --tp-label-foreground-color: hsla(0, 0%, 100%, 1);
  --tp-monitor-background-color: hsla(0, 0%, 8%, 1);
  --tp-monitor-foreground-color: hsla(0, 3%, 90%, 1);
}

/* Invert the tweak panel slider background */
.tp-sldv_t::before {
  background-color: var(--in-fg) !important;
}

.tp-sldv_k::before {
  background-color: var(--in-bg) !important;
}
